body {
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10px;
    background-color: darkgrey !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row #back{
    text-align:center;
    height:150px;
    font-weight:bold;
}

.row #back-img:hover{
    text-align:center;
    height:120px;
    font-weight:bold;
    background-color: teal;
    border-radius: 5px;
}

.row *{
    text-align: center;
    border: none;
    background:transparent;
}
.paint-head{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    margin: 10px 10px 10px 10px;
}

.row #paint1{
    color: white;
    background-color: darkslategray;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.row #title-paint1, .row #title-paint2, .row #title-paint3{
    font-size: 20px;
    float: left;
    color: white;
    background-color: darkslategray;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
}