body {
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10px;
    background-color: darkgrey !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row #back{
    text-align:center;
    height:150px;
    font-weight:bold;
}

.row #back-img:hover{
    text-align:center;
    height:120px;
    font-weight:bold;
    background-color: teal;
    border-radius: 5px;
}

.project-head{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    margin: 10px 10px 10px 10px;
}
.database , .full-stack, .network, .machine-learning{
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align:center;
    background-color: teal;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}

.row #core-technology-project,.row #keywords-project, .row #description-project,.row #duration-project, .row #title-project{
    color: white;
    background-color: darkslategray;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
}

.row #core-technology-project,.row #keywords-project{
    font-size: 14px;
}
.row #title-project{
    font-size: 20px;
    float: left;
}

.row #duration-project{
    font-size:18px;
}
.row #description-project{
    font-size: 16px;
}

#border-end.container{
    border-bottom: dashed white;
    border-width: 5px;
    margin-bottom: 30px;
}