form{
    background-color: teal;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}

.form-group{
    color: white;
    margin: 20px 20px 20px 20px;
    font-size:20px;
}
.row #back{
    text-align:center;
    height:150px;
    font-weight:bold;
}

.row #back-img:hover{
    text-align:center;
    height:120px;
    font-weight:bold;
}

.row #thank{
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align:center;
    background-color: teal;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}
.broken{
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-align:center;
    background-color: teal;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}
